
<div class="laptop-section">
<tr id="question-<%= question.id %>">
  
  <% if current_user != nil %>
  <td>
      <% if @select_mode %>
          <%= check_box_tag "question_ids[]", question.id, @preselect_checkboxes %>
      <% elsif current_user?(question.user) || (current_user != nil && current_user.admin?) %>
      <table class="btn-table">
        <tr>
        <td>
          <%= link_to question, class: "btn btn-xs btn-primary", method: :delete,
                                       data: { confirm: "Delete this question?" } do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
        <td>
        <%= link_to edit_question_path(question), class: "btn btn-xs btn-primary" do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        </td>
      </tr>
      </table>
      <% else %>
        <%= link_to question, class: "btn btn-xs btn-primary" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
      <% end %>
  </td>
  <% end %>
  <td>
      <%= link_to question.formatted_content, question %>
      
      <% if logged_in? && current_user.premium? %>
        <td><%= Nokogiri::HTML::DocumentFragment.parse(question.answer).to_html.html_safe %></td>
      <% else %>
      <td>
        <%= link_to plans_path, class: "btn btn-xs btn-primary" do %>
          <i class="glyphicon glyphicon-user"></i>
        <% end %>

        </td>
      <% end %>

  <td><%= question.difficulty.level %></td>
  <td><%= question.question_type.name %></td>
  <td><%= question.category.name %></td>
</tr>
</div>

<div class="mobile-section">
  <a class="list-group-item" href="/questions/<%= question.id %>" >
        <small class="list-group-item-text">
            Created on
            <span><%= question.created_at.strftime("%m/%d/%Y") if question.created_at? %></span>
        </small>
         <p class="list-group-item-text">
           <strong><%= question.category.name %> / <%= question.difficulty.level %> / <%= question.question_type.name %></strong>
           </p>
           <% if current_user != nil && @select_mode %>
          <%= check_box_tag "question_ids[]", question.id, @preselect_checkboxes %>
          <% end %>
        <h4 class="list-group-item-heading">
          <%= question.formatted_content %>
        </h4>
          <p class="list-group-item-text">
            <%= question.answer %>
          </p>
    </a>
</div>