<tr id="question-<%= question.id %>">
  <td><%= link_to question.content, question %></td>
  <td><%= question.answer %></td>
  <td><%= question.difficulty.level %></td>
  <td><%= question.category.name %></td>
  <td>
      <% if @select_mode %>
        <%= check_box_tag "question_ids[]", question.id, @preselect_checkboxes %>
      <% elsif current_user?(question.user) %>
            <%= link_to "X", question, method: :delete,
                                       data: { confirm: "Delete this question?" } %>
            <%= link_to "Edit", edit_question_path(question) %>
      <% end %>
      
  </td>
</tr>
