<tr id="question-<%= question.id %>">
  
  <% if current_user != nil %>
  <td>
    <table class="btn-table">
      <tr>
      <% if @select_mode %>
        <td>
          <%= check_box_tag "question_ids[]", question.id, @preselect_checkboxes %>
        </td>
      <% elsif current_user?(question.user) || (current_user != nil && current_user.admin?) %>
        <td>
          <%= link_to question, class: "btn btn-xs btn-primary", method: :delete,
                                       data: { confirm: "Delete this question?" } do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
        <td>
        <%= link_to edit_question_path(question), class: "btn btn-xs btn-primary" do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        </td>
      <% else %>
        <td>
        <%= link_to question, class: "btn btn-xs btn-primary" do %>
          <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </td>
      <% end %>
      </tr>
      </table>
  </td>
  <% end %>
  <td>
      <% if question.question_type_id != 2 %>
      <%= link_to question.content, question %> 
      <% else %>
      <%= link_to question.formatted_content, question %>
      <% end %>

      <% if logged_in? && current_user.premium? %>
        <td><%= Nokogiri::HTML::DocumentFragment.parse(question.answer).to_html.html_safe %></td>
      <% else %>
      <td>
        <%= link_to plans_path, class: "btn btn-xs btn-primary" do %>
          <i class="glyphicon glyphicon-user"></i>
        <% end %>

        </td>
      <% end %>

  <td><%= question.difficulty.level %></td>
  <td><%= question.question_type.name %></td>
  <td><%= question.category.name %></td>
</tr>
