<% provide(:title, 'Edit Question') %>
<div class="page-header">
<section style="float:right">
        <%= link_to "Dashboard", root_path, class: "btn btn-primary btn-sm btn-responsive" %>
        <%= link_to "Search Questions", questions_path, class: "btn btn-primary btn-sm btn-responsive" %>
        <%= link_to "Search Tests", tests_path, class: "btn btn-primary btn-sm btn-responsive" %>
  </section>
  <h3>Edit Question</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

  		<%= f.label :question_type %>
  		<div class="field">
    		<%= f.collection_select(:question_type_id, QuestionType.all, :id, :name) %>
  		</div>

      <%= f.label :category %>
      <div class="field">
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>

			<%= f.label :difficulty %>
    	<div class="field">
      <%= f.collection_select(:difficulty_id, Difficulty.all, :id, :level) %>
      </div>

      <%= f.label :content, "Question" %>
      <%= f.text_area :content, class: 'form-control' %>

      <div class="checkbox">
        <%= f.label :is_public do %>
          <%= f.check_box :is_public %>
          Make Question Public
        <% end %>
      </div>

      <div id="free-form">
      <%= f.label :answer %>
      <%= f.text_area :answer, rows: "10", class: 'text-small' %>
      </div>
      <div id="short-phrase" style="display:none">
      <%= f.label :short_answer, "Short Phrase Answer" %>
      <%= f.text_field :short_answer, class: 'form-control' %>
      </div>
      <div id="multiple-choice" style="display:none">
        <div class="alert alert-info">Enter all multiple choice answers below, and select the correct one.</div>
        <label class="radio-inline">
        <%= f.radio_button :multiple_choice_answer, "A)", checked: false %><strong> Answer Choice A</strong>
        </label>
        <%= f.text_field :answer2, class: 'form-control' %>
        <label class="radio-inline">
        <%= f.radio_button :multiple_choice_answer, "B)", checked: false %><strong> Answer Choice B</strong>
        </label>
        <%= f.text_field :answer3, class: 'form-control' %>
        <label class="radio-inline">
        <%= f.radio_button :multiple_choice_answer, "C)", checked: false %><strong> Answer Choice C</strong>
        </label>
        <%= f.text_field :answer4, class: 'form-control' %>
        <label class="radio-inline">
        <%= f.radio_button :multiple_choice_answer, "D)", checked: false %><strong> Answer Choice D</strong>
        </label>
        <%= f.text_field :answer5, class: 'form-control' %>
      </div>
    
      <div class="form-group">
          <div style="float:right">
            <% if current_user.admin? %>
          <%= f.submit "Save And Goto Next TODO", class: "btn btn-primary btn-sm btn-responsive" %>
            <% end %>
          <%= f.submit "Save And Return To Search", class: "btn btn-primary btn-sm btn-responsive" %>
          <%= f.submit "Save", class: "btn btn-primary btn-sm btn-responsive" %>
            <span></span>
            <%= link_to "Cancel", questions_path, class: "btn btn-default btn-sm btn-responsive" %>
        </div>
        </div>

    <% end %>
  </div>
</div>
</br>

<script>
  function categoryChanged () {
    adjustQuestionForm(this.value);
  }    

  $(document).ready(function(){
    $('#question_question_type_id').bind('change', categoryChanged);
    $('#question_question_type_id').trigger('change');
  });

  <% if params[:edit_raw].blank? %>
  $(function() {
    $('#question_answer').editable({
      key: '9iH-8G-7hraqag1hnfnD8ciC-9adepbcD2vyz==',
      inlineMode: false
    });
  });
  <% end %>

  <% if @question.answer == 'A)' %>
  $('#question_multiple_choice_answer_a').prop("checked", true);
  <% elsif @question.answer == 'B)' %>
  $('#question_multiple_choice_answer_b').prop("checked", true);
  <% elsif @question.answer == 'C)' %>
  $('#question_multiple_choice_answer_c').prop("checked", true);
  <% elsif @question.answer == 'D)' %>
  $('#question_multiple_choice_answer_d').prop("checked", true);
  <% end %>
</script>