<% provide(:title, 'Edit Question') %>
<h1>Edit Question</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.label :answer %>
      <%= f.text_area :answer, class: 'form-control' %>

			<%= f.label :difficulty %>
    	<div class="field">
      <%= f.collection_select(:difficulty_id, Difficulty.all, :id, :level) %>
      </div>

      <%= f.label :category %>
      <div class="field">
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>

      <%= f.submit "Update Question", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <%= link_to "Dashboard", root_path, class: "btn btn-success" %>
  </div>
</div>
