<div class="page-header">
    <section style="float:right">
      <% if logged_in? %>
      <%= link_to "Create New Question", new_question_path, class: "btn btn-sm btn-primary" %> 
      <%= link_to "Search Tests", tests_path, class: "btn btn-sm btn-primary" %> 
      <% end %>
      </section>
  <h3>Search Screening Questions</h3>
</div>

<div class="row">
  <div class="col-md-12">
<%= form_tag questions_path, :class => "nicesearch", :method => 'get' do %>
  <label>Category</label>
  <div class="field">
    
      <%= select_tag(:category_id, options_from_collection_for_select(Category.all, "id", "name", 
            params[:category_id]), 
        prompt: "<Filter By Technology Category>", include_blank: true, :selected => params[:category_id],
        :onchange => "this.form.submit();"
        ) %>
  </div>

  <label>Search Terms</label>
  <div class="field">
    <div class="input-group">
      <%= text_field_tag :search, params[:search], :class => "form-control" %>
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    </div>
<% end %>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @searched %>
    <% if @questions.any? %>
      <h4>Question Search Results</h4>
    <% else %>
      <h4>No results found for that search term.</h4>
    <% end %>
    <% else %>
    <h4>Recent Questions</h4>
    <% end %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr><th>Actions</th><th><%= sortable "content", "Question" %></th><th><%= sortable "answer" %></th>
        <th><%= sortable "difficulty_id", "Difficulty" %></th><th><%= sortable "question_type_id", "Question Type" %></th>
        <th><%= sortable "category_id", "Category" %></th></tr>
        <%= render @questions %>
      </table>
    </div>
      <%= will_paginate @questions %>
  </div>
</div>

<% if logged_in? %>
<div class="row">
  <div class="col-md-12">
    <section>
      <%= link_to "Dashboard", root_path, class: "btn btn-primary" %> 
      <%= link_to "Create New Question", new_question_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-md-12">
    <section>
      <%= link_to "Home", root_path, class: "btn btn-primary" %> 
      <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>
<% end %>