<% provide(:title, "Create Question") %>
<div class="page-header">
  <h3>Create Question</h3>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.label :answer %>
      <%= f.text_field :answer, class: 'form-control' %>

  		<%= f.label :difficulty %>
  		<div class="field">
    		<%= f.collection_select(:difficulty_id, Difficulty.all, :id, :level) %>
  		</div>

  		<%= f.label :category %>
  		<div class="field">
    		<%= f.collection_select(:category_id, Category.all, :id, :name) %>
  		</div>

  		<%= f.label :question_type %>
  		<div class="field">
    		<%= f.collection_select(:question_type_id, QuestionType.all, :id, :name) %>
  		</div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
