<% provide(:title, @question.content) %>
<div class="page-header">
  <h3>Question Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <section>
      <h4> Question: </h4> <%= @question.content %> 
    </section>
    <section>
      <h4> Answer: </h4> 
      <% if logged_in? && current_user.premium? %>
      <%= 
      Nokogiri::HTML::DocumentFragment.parse(@question.answer).to_html.html_safe %> 
      <% else %>
        <%= link_to "Premium Members Get Answers!", plans_path, class: "btn btn-success" %> 
      <% end %>
    </section>
		<section>
			<h4>Difficulty: </h4> <%= @question.difficulty.level %>
		</section>
		<section>
			<h4>Category: </h4> <%= @question.category.name %>
		</section>
		<section>
			<h4>Type: </h4> <%= @question.question_type.name %>
		</section>
		<br>
    <section>
        <%= link_to "Search Questions", questions_path, class: "btn btn-primary" %> 
        <%= link_to "Edit Question", edit_question_path(@question), class: "btn btn-primary" %> 
        <%= link_to "Clone Question", clone_question_path(id: @question), class: "btn btn-primary" %> 
        <%= link_to "Manage Tests", root_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>

