<% provide(:title, @question.content) %>
<div class="page-header">
  <h3>Question Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <section>
      <h3> Question: </h3> <%= @question.content %> 
    </section>
    <section>
      <h3> Answer: </h3> <%= 
      Nokogiri::HTML::DocumentFragment.parse(@question.answer).to_html.html_safe %> 
    </section>
		<section>
			<h3>Difficulty: </h3> <%= @question.difficulty.level %>
		</section>
		<section>
			<h3>Category: </h3> <%= @question.category.name %>
		</section>
		<section>
			<h3>Type: </h3> <%= @question.question_type.name %>
		</section>
		<br>
    <section>
        <%= link_to "Search Questions", questions_path, class: "btn btn-primary" %> 
        <%= link_to "Edit Question", edit_question_path(@question), class: "btn btn-primary" %> 
        <%= link_to "Clone Question", clone_question_path(id: @question), class: "btn btn-primary" %> 
        <%= link_to "Manage Tests", root_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>

