<% provide(:title, @question.content) %>
<div class="page-header">
  <section class="laptop-section" style="float:right">
    <%= link_to "Search", questions_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    
    <% if logged_in? %>
      <%= link_to "Create", new_question_path, class: "btn btn-sm btn-primary btn-responsive" %> 
      <% if @question.user_id == @current_user.id %>
        <%= link_to "Edit", edit_question_path(@question), class: "btn btn-sm btn-primary btn-responsive" %> 
        <% if !@question.is_public? %>
        <%= link_to "Remove", @question, method: :delete,
                           data: { confirm: "Delete this question?" }, :class => "btn btn-sm btn-danger btn-responsive" %>
        <% end %>
      <% end %>
    <%= link_to "Clone", clone_question_path(id: @question), class: "btn btn-sm btn-primary btn-responsive" %> 
    <%= link_to "Search Tests", tests_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    <% else %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    <% end %>        
  </section>
  <h3>Question Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <section>
      <h4> Question: </h4> 
      <% if @question.question_type_id != 2 %>
      <%= @question.content %> 
      <% else %>
      <%= @question_part_content %> 
      <ul>
        <li>A) <%= @question.answer2 %></li>
        <li>B) <%= @question.answer3 %></li>
        
        <% if @question.answer4 != nil %>
        <li>C) <%= @question.answer4 %></li>
        <% end %>
        <% if @question.answer5 != nil %>
        <li>D) <%= @question.answer5 %></li>
        <% end %>
      </ul>
      <% end %>
    </section>
    <section>
      <h4> Answer: </h4> 
      <% if logged_in? && current_user.premium? %>
      <%= Nokogiri::HTML::DocumentFragment.parse(@question.answer).to_html.html_safe %> 
      <% else %>
        <%= link_to "Employer / Recruiter Membership Required", plans_path, class: "btn btn-xs btn-primary" %> 
      <% end %>
    </section>
    <% if current_user != nil %>
		<section>
			<h4>Privacy: </h4> 
			<% if @question.is_public? %>
        <span class="label label-info">Public</span>
        <% else %>
        <span class="label label-info">Private</span>
        <% end %>
		</section>
		<% end %>
		<section>
			<h4>Difficulty: </h4> 
			<%= link_to @question.difficulty.level, questions_path(difficulty_id: @question.difficulty.id) %>
		</section>
		<section>
			<h4>Category: </h4> 
			<%= link_to @question.category.name, questions_path(category_id: @question.category.id) %>
		</section>
		<section>
			<h4>Type: </h4> <%= @question.question_type.name %>
		</section>
  <% if current_user != nil && current_user.admin? %>
    <br>
    <section class="laptop-section">
    <%= link_to "Easy", make_easy_path(id: @question.id), class: "btn btn-sm btn-primary btn-responsive" %> 
    <%= link_to "Medium", make_medium_path(id: @question.id), class: "btn btn-sm btn-primary btn-responsive" %> 
    <%= link_to "Hard", make_hard_path(id: @question.id), class: "btn btn-sm btn-primary btn-responsive" %> 
    <%= link_to "Random", random_question_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    <%= link_to "Next", next_question_path(id: @question.id), class: "btn btn-sm btn-primary btn-responsive" %> 
    </section>
  <% end %>

		<br>
		  <section class="mobile-section" style="float:right">
    <%= link_to "Search", questions_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    
    <% if logged_in? %>
      <%= link_to "Create", new_question_path, class: "btn btn-sm btn-primary btn-responsive" %> 
      <% if @question.user_id == @current_user.id %>
        <%= link_to "Edit", edit_question_path(@question), class: "btn btn-sm btn-primary btn-responsive" %> 
      <% end %>
    <%= link_to "Clone", clone_question_path(id: @question), class: "btn btn-sm btn-primary btn-responsive" %> 
    <%= link_to "Search Tests", tests_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    <% else %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-sm btn-primary btn-responsive" %> 
    <% end %>        
  </section>

  </div>
</div>

