<% provide(:title, "About") %>
<div class="page-header">
      <% if current_user != nil && current_user.admin? %>
      <section style="float:right">
        <%=link_to "New Category", new_category_path, class: "btn btn-sm btn-primary btn-responsive" %>
      </section>
      <% end %>
    <h3>Technical Interview Screening Category List</h3>
</div>
    
<div class="row">
  <div class="col-md-4">
    <ul>
    <% @categories_first.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_by_name_path(name: category[0]), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %>
 <%= link_to category[0] + " (" + category[1].to_s + ")", questions_path(category: category[0]) %>
    </li>
    <% end %>
    </ul>
  </div>
    <div class="col-md-4">
    <ul>
    <% @categories_second.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_by_name_path(name: category[0]), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %> <%= link_to category[0] + " (" + category[1].to_s + ")", questions_path(category: category[0]) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
    <% @categories_third.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_by_name_path(name: category[0]), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %> <%= link_to category[0] + " (" + category[1].to_s + ")", questions_path(category: category[0]) %></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
<h4>Don't see the category you want listed? Ask us to add it via the <%= link_to "Contact", contact_path %> page.</h4>
</div>
