<% provide(:title, "About") %>
<div class="page-header">
    <h3>Current Technical Interview Screening Category List</h3>
</div>
    
<div class="row">
  <div class="col-md-4">
    <ul>
    <% @categories_first.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_path(category), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %>
 <%= link_to category.name, questions_path(category_id: category) %>
    </li>
    <% end %>
    </ul>
  </div>
    <div class="col-md-4">
    <ul>
    <% @categories_second.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_path(category), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %> <%= link_to category.name, questions_path(category_id: category) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
    <% @categories_third.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_path(category), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %> <%= link_to category.name, questions_path(category_id: category) %></li>
    <% end %>
    </ul>
  </div>
</div>

<h1><%= image_tag("big-logo.png") %></h1>
