<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="question_form">
        <%= render 'shared/candidate_form' %>
      </section>
      <section class="lists">
      <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title">Your Recent Tests<span style="float:right">
      <%= link_to tests_path(only_my_tests: true), class: "btn btn-xs btn-default" do %>
    <i class="glyphicon glyphicon-search"></i>
    <% end %></span></h3>
      </div>
        <div class="panel-body">
        <% if @user.tests.any? %>
          <% @user.tests.each do |test| %>
            <div class="test_link">
              <%= link_to test.name, test %> (<%= pluralize(test.questions.count, "question") %>)
            </div>
          <% end %>
        <% else %>
        <strong>No custom tests yet.</strong>
        <% end %>
        <div class="other">
          <%= link_to "Create Test", new_test_path, :class => "btn btn-sm btn-primary" %>
        </div>
        </div>
        </div>
      </section>
    </aside>
      <div class="col-md-8">
        <%= render 'shared/test_results' %>
      </div>
      <div class="col-md-8">
        <%= render 'shared/candidate_feed' %>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/jobs_list' %>
      </div>
      <div class="col-md-12">
        <%= render 'shared/companies_list' %>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Metrics</h3>
          </div>
          <div class="panel-body">
            <strong>Candidates Per Day</strong>
            <% if Rails.env.development? %>
            <%= column_chart Candidate.where("user_id = ?", current_user.id).group(:job_id).count %>
            <% elsif Rails.env.production? %>
            <%= line_chart Candidate.where("user_id = ?", current_user.id).group_by_day(:created_at, 
              format: "%B %d, %Y").count, discrete: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% else %>
<div class="center intro">
  <h1><span class="header-responsive">Welcome to TechScreen</span></h1>

  <h2>
    <span class="ease">Screen your interview candidates with ease.</span>
  </h2>

  <%= link_to "Sign up!", signup_path(:membership_level_id => 1), class: "btn btn-lg btn-primary" %>
  <%= link_to "Overview", about_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="row">
    <p class="center-big">TechScreen.net helps you set up and manage screening tests for software development candidates.</p>
	<p class="center-big">Quickly create tests from a variety of technology topics and thousands of questions, or create your own. </p>
</div>
<div class="row padded-bottom-row">
  <div class="col-md-4">
    <h3><i class="glyphicon glyphicon-road"></i> Unlimited Tests</h3>
    <p>Create as many screening tests as you'd like, with as many questions as you'd like in any technology category imaginable.</p>
  </div>
    <div class="col-md-4">
    <h3><i class="glyphicon glyphicon-question-sign"></i> Large Question Library</h3>
    <p>Quickly put together screening tests for popular technologies using our existing library of questions and answers.</p>
  </div>
  <div class="col-md-4">
    <h3><i class="glyphicon glyphicon-user"></i> Manage Candidates</h3>
    <p>Invite as many interview candidates as you'd like to take your tests, score and manage the results. Forward results on to employers.</p>
  </div>
</div>
<div class="row"></div>
<div class="row color-row">
  <div class="col-md-12">
    <h3>TechScreen.net is the Better Way to Screen Candidates</h3>
  </div>
  <div class="col-md-6">
    <br>
    <ul class="featured_list">
    <li><i class="glyphicon glyphicon-ok"></i> Manage Candidates for Your Job Listings</li>
    <li><i class="glyphicon glyphicon-ok"></i> Make Screening Tests Using Our Question Library</li> 
    <li><i class="glyphicon glyphicon-ok"></i> Enhance Existing Tests With Your Own Content</li> 
      <li><i class="glyphicon glyphicon-ok"></i> Evaluate Test Results With Auto-Scoring</li>
      <li><i class="glyphicon glyphicon-ok"></i> Generate Random Tests For Specific Categories</li>
      <li><i class="glyphicon glyphicon-ok"></i> Manage Job Listings And Associated Companies</li>
      <li><i class="glyphicon glyphicon-ok"></i> Customizable Dashboard And Mobile View</li>  
      <li><i class="glyphicon glyphicon-ok"></i> Manage Everything In One Dashboard</li>
      <li><i class="glyphicon glyphicon-ok"></i> Metrics for Insight into Your Placement Successes</li>
      <li><i class="glyphicon glyphicon-ok"></i> Sort + Filter by Highest Scoring Candidates</li>
    </ul>
  </div>
  <div class="col-md-6">
    <br>
        <%= image_tag("features.png", size: "440x280", alt: "TechScreen.net") %>
  </div>
</div>
</div>

<div class="row">
  <br>
  <h1>Technical Screening Topics Include:</h1>
  <div class="col-md-4">
    <ul>
    <% @categories_first.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_path(category), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %>
 <%= link_to category.name, questions_path(category_id: category) %>
    </li>
    <% end %>
    </ul>
  </div>
    <div class="col-md-4">
    <ul>
    <% @categories_second.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_path(category), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %> <%= link_to category.name, questions_path(category_id: category) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
    <% @categories_third.each do |category| %>
    <li style="margin-top: 5px"><% if current_user != nil && current_user.admin? %>
      <%= link_to edit_category_path(category), class: "btn btn-xs btn-primary" do %>
        <div class="edit_icon"><i class="glyphicon glyphicon-edit"></i></div> 
      <% end %>
    <% end %> <%= link_to category.name, questions_path(category_id: category) %></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
