<% provide(:title, "About") %>
<div class="page-header">
    <h3>Membership Plans</h3>
</div>

<div class="row">
<aside class="col-md-4">
<%= image_tag("big-logo.png", size: "300x150", alt: "TechScreen.net") %>
</aside>
<div class="col-md-8">
    <h4>Features</h4>
  <ul>
  <li>TechScreen.net helps you set up screening tests for software development candidates.</li>
  <li>Quickly assemble screening tests from a large library of technology topics and questions.</li> 
  <li>Use existing popular screening tests, and enhance them with your own screening content.</li> 
  <li>Easily manage your candidates' results. Forward results on to employers, auto-score tests.</li>
  <li>Automatically generate screening tests simply by specifying a topic list and a # of questions. </li>
  <li>For example, enter: <strong>"Java, SQL, HTML, JavaScript", Questions per topic: 5...</strong>.</li>
  <li>...and voila! You've got a screening test with 20 questions on those 4 topics.</li>  
  <li>Manage job listings, company listings, custom screening tests all from one dashboard.</li>
    <li>View metrics for insight into your candidate screening and placement success.</li>
    <li>Sort + filter by highest scoring / most recent candidates' test results.</li>
  </ul>
</div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div>
        <h4>View Test Submissions</h4>
        <%= image_tag("features.png", size: "300x200", alt: "TechScreen.net") %>
        </div>
    </div>
    <div class="col-md-4">
        <div>
        <h4>Search Screening Questions</h4>
        <%= image_tag("questions.png", size: "300x200", alt: "TechScreen.net") %>
        </div>
    </div>
    <div class="col-md-4">
        <div>
        <h4>View Metrics</h4>
        <%= image_tag("metrics.png", size: "300x200", alt: "TechScreen.net") %>
        </div>
    </div>
</div>
<br><br>
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-primary price-panels">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Bronze</h3>
                </div>
                <div class="panel-body price-panels-body">
                    <div class="the-price">
                        <h1>
                            $49<span class="subscript">/mo</span></h1>
                        <small>2 weeks FREE trial</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                10 Job Listings
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                10 Custom Screening Tests
                            </td>
                        </tr>
                        <tr>
                            <td>
                                50 Custom Questions
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                10 Candidates
                            </td>
                        </tr>
                        <tr>
                            <td>
                                1 Year Test Results
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= link_to "Sign Up", signup_path(:membership_level_id => 2), class: "btn btn-success" %>
                    FREE trial</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success price-panels">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">MOST
                            <br>
                            POPULAR</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gold</h3>
                </div>
                <div class="panel-body price-panels-body">
                    <div class="the-price">
                        <h1>
                            $99<span class="subscript">/mo</span></h1>
                        <small>2 weeks FREE trial</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                50 Job Listings
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                50 Custom Screening Tests
                            </td>
                        </tr>
                        <tr>
                            <td>
                                200 Custom Questions
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                50 Candidates
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Neverending Results Storage
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= link_to "Sign Up", signup_path(:membership_level_id => 3), class: "btn btn-success" %>
                    FREE trial</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-info price-panels">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Platinum</h3>
                </div>
                <div class="panel-body price-panels-body">
                    <div class="the-price">
                        <h1>
                            $199<span class="subscript">/mo</span></h1>
                        <small>2 weeks FREE trial</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                200 Job Listings
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Unlimited Screening Tests
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Unlimited Custom Questions
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                200 Candidates
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Neverending Results Storage
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Weekly Reports
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <%= link_to "Sign Up", signup_path(:membership_level_id => 4), class: "btn btn-success" %>
                     FREE trial</div>
            </div>
        </div>
    </div>
