<tr id="answered_question-<%= answered_question.id %>">
  <td>
    <% if answered_question.question.question_type_id != 2 %>
      <%= answered_question.question.content %> 
      <% else %>
      <%= answered_question.question.formatted_content %>
      <% end %>
  <td><%= answered_question.answer %></td>
  <td><%= Nokogiri::HTML::DocumentFragment.parse(answered_question.question.answer).to_html.html_safe %></td>
  <td><%= yes_no(answered_question.correct) %></td>
</tr>
