<% provide(:title, 'Edit Question') %>
<div class="page-header">
  <h3>Edit Question</h3>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.label :answer %>
      <%= f.text_field :answer, class: 'form-control' %>

			<%= f.label :difficulty %>
    	<div class="field">
      <%= f.collection_select(:difficulty_id, Difficulty.all, :id, :level) %>
      </div>

      <%= f.label :category %>
      <div class="field">
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>

        <div class="form-group">
            <div style="float:right">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Update Question">
              <span></span>
              <%= link_to "Cancel", root_path, class: "btn btn-default" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

