<h1>TechScreen.net Activation</h1>
<h1><%= image_tag("big-logo.png") %></h1>

<p>Hello <%= @user.name %>,</p>

<p>
Welcome to TechScreen.net! If you are a paying member, your account is already activated.

For free accounts, click on the link below to activate your account:
<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
</p>
<p>
  To get started, you can <%= link_to "Log In", login_path %> and start setting up 
  candidates, job listings, screening tests, and companies. For more information about how to get
  various tasks done with TechScreen.net, please see the <%= link_to "Help", help_path %> section.
</p>