<tr id="job-<%= job.id %>">
  <td><%= link_to job.name, job %></td>
  <td><%= job.description %></td>
  <td>
    <% if job.company != nil %>
    <%= link_to job.company.name, job.company %>
    <% end %>
    </td>
  <td><%= job.created_at.strftime("%m/%d/%Y") if job.created_at? %></td>
</tr>
