<% provide(:title, 'Edit Job') %>
<div class="page-header">
  <section style="float:right">
        <%= link_to "Dashboard", root_path, class: "btn btn-sm btn-primary" %>
  </section>
  <h3>Edit Job Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@job) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Job Title" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :company_id, "Company" %>
      <div class="field">
      <%= f.collection_select(:company_id, @companies, :id, :name) %>
      </div>

      <%= f.label :manager %>
      <%= f.text_field :manager, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.phone_field :phone, class: 'form-control' %>

      <div class="form-group">
        <div style="float:right">
          <%= f.submit "Update Job", class: "btn btn-primary" %>
          <span></span>
          <%= link_to "Cancel", root_path, class: "btn btn-default" %>
      </div>
      </div>
          
    <% end %>
  </div>
</div>
<br>
