<% provide(:title, "Create Job Listing") %>
<div class="page-header">
  <h3>Create Job Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@job) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Job Title" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :company_id, "Company" %>
      <div class="field">
      <%= f.collection_select(:company_id, @companies, :id, :name) %>
      </div>
  
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :manager %>
      <%= f.text_field :manager, class: 'form-control' %>

          <div class="form-group">
            <div style="float:right">
              <%= f.submit "Create", class: "btn btn-primary" %>
              <span></span>
              <%= f.submit "Cancel", class: "btn btn-default" %>
          </div>
          </div>
    <% end %>
  </div>
</div>
