<% provide(:title, @job.name) %>
<div class="page-header">
    <section class="laptop-section" style="float:right">
        <%= link_to "Search", jobs_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Create", new_job_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Remove", @job, method: :delete,
                           data: { confirm: "Delete this job?" }, :class => "btn btn-sm btn-danger btn-responsive" %>
    </section>
  <h3>Job Listing Details</h3>
</div>
<div class="row padded-row">
  <div class="col-md-12">
        <table class="table">
      <tr><th>Job Title:</th><td><%= @job.name %></td></tr>
      <tr><th>Description:</th><td><%= @job.description %></td></tr>
      <tr><th>Manager:</th><td><%= @job.manager %></td></tr>
      <tr><th>Company:</th><td><%= link_to @job.company.name, @job.company unless @job.company == nil %></td></tr>
      <tr><th>Phone:</th><td><%= phone_format(@job.phone) %></td></tr>
      <tr><th>Created On:</th><td><%= @job.created_at.strftime("%m/%d/%Y") if @job.created_at? %></td></tr>
      </table>
    <br><br>
    <section>
      <% if @job_candidates != nil && @job_candidates.count > 0 %>
        <h4>This Job's Candidates:</h4>
          <table class="table table-bordered show-header">
            <tr><th><%= sortable "name" %></th><th><%= sortable "email" %></th><th><%= sortable "phone" %></th>
        <th>Created On</th></th><th>Submissions</th></th><th>Actions</th></tr>

            <%= render @job_candidates %>
          </table>
          <%= will_paginate @job_candidates %>
        <% else %>
          <strong>No candidates for this job yet. <%= link_to "Add Candidate", new_candidate_path(job_id: @job.id), 
          class: "btn btn-primary btn-sm btn-responsive" %></strong>
        <% end %>
    </section>
    <br><br>
        <section class="mobile-section" style="float:right">
        <%= link_to "Search", jobs_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Create", new_job_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Remove", @job, method: :delete,
                           data: { confirm: "Delete this job?" }, :class => "btn btn-sm btn-danger btn-responsive" %>
    </section>

  </div>
</div>
