<%= render 'shared/error_messages', object: f.object %>

<%= f.label :membership_level, "Desired Membership Level" %>
<div class="field">
<%= f.collection_select(:membership_level_id, MembershipLevel.all, :id, :name) %>
</div>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>


