<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <br>
    <section>
      <strong>Name: </strong><%= @user.name %></strong>
    </section>
    <section>
      <strong>Email: </strong><%= @user.email %></strong>
    </section>
    <section>
      <strong>Company: </strong><%= @user.company.name if @user.company? %></strong>
    </section>
    <section>
      <strong>Member Since: </strong><%= @user.created_at.strftime("%m/%d/%Y") if @user.created_at? %></strong>
    </section>
    <br>
    <section>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %> 
      <%= link_to "Create Test", new_test_path, class: "btn btn-primary" %> 
      <%= link_to "Dashboard", root_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>
