<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <br>
    <table style="width:400px">
      <tr><th>Name:</th><td><%= @user.name %></td></tr>
      <tr><th>Email:</th><td><%= @user.email %></td></tr>
      <tr><th>Membership Level:</th><td><%= 
      if @user.membership_level != nil
        @user.membership_level.name
      else
        "Free"
      end %></td></tr>
      <tr><th>Companies:</th><td>
      <%if @user.companies != nil %>
          <% @user.companies.each do |company| %>
            <%= company.name %> 
          <% end %>
      <% end %>
      
    </td></tr>
      <tr><th>Member Since:</th><td><%= @user.created_at.strftime("%m/%d/%Y") if @user.created_at? %></td></tr>
    </table>
    <br>
    <section>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %> 
      <%= link_to "Create Test", new_test_path, class: "btn btn-primary" %> 
      <%= link_to "Dashboard", root_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>
