<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.tests.any? %>
      <h3>Tests (<%= @user.tests.count %>)</h3>
      <ol class="tests">
        <%= render @tests %>
      </ol>
      <%= will_paginate @tests %>
    <% end %>
  </div>
</div>
