<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
    <section>
      <strong>Email: </strong><%= @user.email %></strong>
    </section>
    <br>
    <section>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-success" %> 
      <%= link_to "Dashboard", root_path, class: "btn btn-success" %> 
    </section>
  </div>
</div>
