<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create New Question</h3>
    </div>
  <div class="panel-body">
<%= form_for(@question) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>

  <div id="free-form">
  <%= f.label :answer %>
  <%= f.text_area :answer, rows: "10", class: 'form-control' %>
  </div>
  <div class="hidden" id="short-phrase">
  <%= f.label :answer %>
  <%= f.text_field :answer, class: 'form-control' %>
  </div>
  <div class="hidden" id="multiple-choice">
  <%= f.label :answer %>
  <%= f.text_field :answer, class: 'form-control' %>
  </div>
  
	<%= f.label :difficulty %>
	<div class="field">
  <%= f.collection_select(:difficulty_id, Difficulty.all, :id, :level) %>
  </div>

  <%= f.label :category %>
  <div class="field">
  <%= f.collection_select(:category_id, Category.all, :id, :name, :onChange => "categoryChanged('this.value');") %>
  </div>

  <%= f.label :question_type %>
  <div class="field">
  <%= f.collection_select(:question_type_id, QuestionType.all, :id, :name) %>
  </div>

  <%= f.submit "Create Question", class: "btn btn-primary" %>
<% end %>
</div>
</div>