<% @user ||= current_user %>
<div class="stats">
  <a href="<%= test_submissions_path %>">
    <strong class="stat"> 
      <span class="badge"><%= @num_test_results %></span>
    </strong> Test Results
  </a>
  <a href="<%= candidates_path %>">
    <strong class="stat">
      <span class="badge"><%= @num_candidates %></span> 
    </strong> Candidates
  </a>
  <a href="<%= tests_path %>">
    <strong class="stat">
      <span class="badge"><%= @num_tests %></span>
    </strong> Tests
  </a>
</div>