<% @user ||= current_user %>
<div class="stats">
  <a href="<%= test_submissions_path %>">
    <strong class="stat"> 
      <%= @num_test_results %>
    </strong> Test Results
  </a>
  <a href="<%= candidates_path %>">
    <strong class="stat">
      <%= @num_candidates %> 
    </strong> Candidates
  </a>
  <a href="<%= tests_path %>">
    <strong class="stat">
      <%= @num_tests %> 
    </strong> Tests
  </a>
</div>