<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Test Results<span style="float:right">
      <%= link_to test_submissions_path, class: "btn btn-xs btn-default" do %>
    <i class="glyphicon glyphicon-search"></i>
    <% end %></span></h3>
    </div>
  <div class="panel-body">
<% if @test_submissions && @test_submissions.any? %>
    <div class="laptop-section">
      <div class="table-responsive">
      <table class="table">
        <tr><th>Actions</th><th>Candidate Name</th><th>Test Name</th>
        <th><%= tr_sortable "name", "Submission Name" %></th>
        <th><%= tr_sortable "score" %></th><th><%= tr_sortable "duration", "Time" %></th></tr>
        <tbody>
        <%= render @test_submissions %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="mobile-section">
      <div class="list-group">
        <%= render partial: "test_submissions/mobile_test_submission", collection: @test_submissions, as: :test_submission %>
      </div>
    </div>
  
  <%= will_paginate @test_submissions %>
<% else %>
<strong>No test results yet.</strong>
<% end %>
</div>
</div>
