<div class="laptop-section">
<tr id="test-submission-<%= test_submission.id %>">
  <td>
      <% if current_user?(test_submission.user) %>
            <% if false %>
            <%= link_to "X", test_submission, class: "btn btn-xs btn-danger", method: :delete,
                                       data: { confirm: "Delete this test submission?" } %>
                                       <div class="button-spacer"></div>
            <% end %>
            <%= link_to "Details", test_submission, class: "btn btn-xs btn-primary" %>
                                       <div class="button-spacer"></div>
            <%= link_to "Forward", forward_submission_path(id: test_submission.id), class: "btn btn-xs btn-primary" %>
      <% end %>
  </td>
  <td><%= test_submission.candidate.name %></td>
  <td><%= link_to test_submission.test.name, test_submission.test %></td>
  <td><%= link_to test_submission.name, test_submission %></td>
  <td><%= test_submission.formatted_score %></td>
  <td><%= test_submission.formatted_time %></td>
</tr>
</div>

<div class="mobile-section">
    <a class="list-group-item" href="/test_submissions/<%= test_submission.id %>" >
        <small class="list-group-item-text">
            Created on
            <span><%= test_submission.created_at.strftime("%m/%d/%Y") if test_submission.created_at? %></span>
        </small>
        <h4 class="list-group-item-heading"><%= test_submission.name %></h4>
          <p class="list-group-item-text">
            <strong>Candidate: <%= test_submission.candidate.name %></strong>
          </p>
          <p class="list-group-item-text">
            <strong>Test: <%= test_submission.test.name %></strong>
          </p>
        <br>
        <p class="list-group-item-text">
          <%= test_submission.formatted_score %> / <%= test_submission.formatted_time %>
        </p>
    </a>
</div>