<div class="page-header">
      <section class="laptop-section" style="float:right">
        <%= link_to "Search", test_submissions_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Dashboard", root_path, class: "btn btn-sm btn-primary btn-responsive" %> 
      </section>
  <h3>Candidate '<%= link_to @candidate.name, @candidate %>'</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @test_submissions.any? %>
      <h4>Test Submissions</h4>
      <table class="table table-bordered show-header">
        <tr><th>Candidate Name</th><th>Test Name</th><th><%= sortable "name", "Submission Name" %></th>
        <th><%= sortable "score" %></th><th><%= sortable "time", "Time Taken" %></th><th>Actions</th></tr>
        <%= render @test_submissions %>
      </table>
      <%= will_paginate @test_submissions %>
    <% else %>
      <h4>No test submissions found for this candidate.</h4>
    <% end %>
  </div>
</div>

