<% provide(:title, 'Edit Submission') %>
<h1>Test Submission</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@test_submission) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <% if @test_submission.answered_questions.any? %>
        <% @test_submission.answered_questions.each do |aq| %>

          <section>Question: <%= aq.question.content %></section>
          <section>Your Answer:
            <%= f.text_field :aq.answer, class: 'form-control' %>
          </section>
          
        <% end %>
      <% end %>

      <%= f.submit "Submit Test", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
