<% provide(:title, 'Edit Submission') %>
<div class="page-header">
  <h3>Edit Test Submission</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@test_submission) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag :test_id, @test_submission.test.id %>

      <%= f.label :name, "Test Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= hidden_field_tag :test_id, @test_submission.test.id %>

      <%= f.submit "Submit Test", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
