<% provide(:title, 'Create Submission') %>
<h1>Test Submission</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@test_submission) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Test Name" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= hidden_field_tag :test_id, @test_submission.test.id %>

          <%= f.fields_for :answered_questions do |aq_form|%>
          <section><h3>Question: <%= @test_submission.answered_questions[aq_form.index].question.content %></h3></section>
            <section><h3>Your Answer:</h3>
              <%= aq_form.text_field :answer, class: 'form-control' %>
            </section>
          <% end %>
    
      <%= f.submit "Submit Test", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
