<% provide(:title, 'Create Submission') %>
<div class="page-header">
  <h3>Your Test Submission</h3>      
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@test_submission) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Name Your Test Submission (optional):" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= hidden_field_tag :test_id, @test_submission.test.id %>
      <%= hidden_field_tag :email, @test_submission.candidate.email %>
        <strong>There are <%= @test_submission.test.questions.count %> question(s) in this test.</strong>
        <br><br>
          <%= f.fields_for :answered_questions do |aq_form|%>
          <section><strong>Question #<%= aq_form.index + 1 %>:</strong> 
          
          <% if @test_submission.answered_questions[aq_form.index].question.question_type_id == 2 %>
            <%= @test_submission.answered_questions[aq_form.index].question.formatted_content %>
          <% else %>
            <%= @test_submission.answered_questions[aq_form.index].question.content %>
          <% end %>
          </section>
            <section><strong>Your Answer:</strong>
              <% if @test_submission.answered_questions[aq_form.index].question.question_type_id == 2 %>
              
              <%= aq_form.select(:answer, class: 'form-control') do %>
                <% [['A)', 'A'], ['B)', 'B'], ['C)', 'C'], ['D)', 'D']].each do |c| -%>
                  <%= content_tag(:option, c.first, value: c.last) %>
                <% end %>
              <% end %>
              <% elsif @test_submission.answered_questions[aq_form.index].question.question_type_id == 3 %>
              <%= aq_form.text_field :answer, class: 'form-control' %>
              <% else %>
              <%= aq_form.text_area :answer, class: 'form-control' %>
              <% end %>
            </section>
          <% end %>
    
          <div class="form-group">
            <div style="float:right">
              <% if @confirm_submit %>
                <%= f.submit "Confirm", class: "btn btn-primary" %>
                <span></span>
              <% else %>
                <%= f.submit "Submit Test", class: "btn btn-primary" %>
                <span></span>
              <% end %>
              <%= link_to "Cancel", root_path, class: "btn btn-default" %>
          </div>
          </div>

    <% end %>
  </div>
</div>
