<% provide(:title, 'Create Submission') %>
<div class="page-header">
  <h3>Your Test Submission</h3>      
</div>
<div class="row">
  <div class="col-md-12">
    <%= form_for(@test_submission) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Name Your Test Submission (optional):" %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= hidden_field_tag :test_id, @test_submission.test.id %>
        <br>
          <%= f.fields_for :answered_questions do |aq_form|%>
          <section><strong>Question:</strong> <%= @test_submission.answered_questions[aq_form.index].question.content %></section>
            <section><strong>Your Answer:</strong>
              <%= aq_form.text_area :answer, class: 'form-control' %>
            </section>
          <% end %>
    
      <%= f.submit "Submit Test", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
