<% provide(:title, 'Score Test') %>
<h3>Scoring Test '<%= @test_submission.test.name %>' From '<%= @test_submission.candidate.name %>'</h3>
<div class="row">
  <div class="col-md-12">
    <section><strong>Test Submission Name: <%= @test_submission.name %></strong></section>
  </div>
</div>
</br>
<div class="row">
  <div class="col-md-12">
    <%= form_for @test_submission do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <% if @test_submission.answered_questions.any? %>
        <table class="table">
          <tr><th>Question</th><th>Given Answer</th><th>Correct?</th></tr>
        <% @test_submission.answered_questions.each do |aq| %>
          <tr>
          <td><%= aq.question.content %></td>
          <td><%= aq.answer %></td>
          <td>
              <%= check_box_tag "answered_question_ids[]", aq.id, false, class: "checkbox" %>
          </td>
          </tr>
        <% end %>
        </table>
      <% end %>

      <%= f.submit "Submit Scoring", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
