<% provide(:title, @test_submission.candidate.name) %>
<div class="page-header">
  <h3>Test Submission Details</h3>
    <% if @test_submission.answered_questions.any? %>
      <section>
        <%= link_to "Candidate Details", @test_submission.candidate, class: "btn btn-primary" %> 
        <%= link_to "Score Test", score_test_path(id: @test_submission.id), class: "btn btn-primary" %> 
        <%= link_to "Dashboard", root_path, class: "btn btn-primary" %> 
      </section>
    <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <section>
      <strong>Test Result For:</strong> <%= @test_submission.candidate.name %>
    </section>
    <section>
      <strong>Test Name:</strong> <%= link_to @test_submission.test.name, @test_submission.test %>
    </section>
    <br>
    <section>
      <% if @test_submission.answered_questions.any? %>
        <strong>Answered Questions</strong> (<%= @test_submission.answered_questions.count %>)
          <table class="table table-bordered">
            <tr><th><%= sortable "question" %></th><th><%= sortable "answer", "Their Answer" %></th><th>Correct Answer</th><th>Marked As Correct?</th></tr>
            <%= render @test_submission_answers %>
          </table>
          <%= will_paginate @test_submission_answers %>
      <% end %>
    </section>
    <section>
        <%= link_to "Score Test", score_test_path(id: @test_submission.id), class: "btn btn-primary" %> 
        <%= link_to "Dashboard", root_path, class: "btn btn-primary" %> 
    </section>
  </div>
</div>

