<% provide(:title, @test_submission.candidate.name) %>
<div class="page-header">
      <section class="laptop-section" style="float:right">
        <%= link_to "Search", test_submissions_path, class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Candidate Details", @test_submission.candidate, class: "btn btn-xs btn-primary btn-responsive" %> 
    <% if @test_submission.answered_questions.any? %>
        <%= link_to "Manually Score Test", score_test_path(id: @test_submission.id), class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Auto Score Test", auto_score_test_path(id: @test_submission.id), class: "btn btn-xs btn-primary btn-responsive", :method => :post %> 
    <% end %>
        <%= link_to "Forward", forward_submission_path(id: @test_submission.id), class: "btn btn-xs btn-primary" %>
        <%= link_to "Remove", @test_submission, method: :delete,
                           data: { confirm: "Delete this test submission?" }, 
                           :class => "btn btn-xs btn-danger btn-responsive" %>
      </section>
  <h3>Test Submission Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table style="width:400px">
    <tr>
      <th>Test Result For:</th><td><%= @test_submission.candidate.name %></td>
    </tr>
    <tr>
      <th>Test Name:</th><td> <%= link_to @test_submission.test.name, @test_submission.test %></td>
    </tr>
    <tr>
      <th>Score:</th> <td><%= @test_submission.formatted_score %></td>
    </tr>
    <tr>
      <th>Time Taken:</th><td> <%= @test_submission.formatted_time %></td>
    </tr>
    <tr>
      <th>Sent To:</th><td> <%= @test_submission.sent_to %></td>
    </tr>
    </table>
    <br>
    <section>
      <% if @test_submission.answered_questions.any? %>
        <strong>Answered Questions</strong> (<%= @test_submission.answered_questions.count %>)
        
          <div class="laptop-section">
          <table class="table table-bordered show-header">
            <tr><th><%= sortable "question" %></th><th><%= sortable "answer", "Their Answer" %></th>
            <th>Marked As Correct?</th><th>Correct Answer</th></tr>
            <%= render @test_submission_answers %>
          </table>
          </div>
          <div class="mobile-section">
          <div class="list-group">
            <%= render partial: "answered_questions/mobile_answered_question", collection: @test_submission_answers, 
              as: :answered_question %>
          </div>
        </div>
        
          <%= will_paginate @test_submission_answers %>
      <% end %>
    </section>
      <section class="mobile-section" style="float:right">
        <%= link_to "Search", test_submissions_path, class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Candidate Details", @test_submission.candidate, class: "btn btn-xs btn-primary btn-responsive" %> 
    <% if @test_submission.answered_questions.any? %>
        <%= link_to "Manually Score Test", score_test_path(id: @test_submission.id), class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Auto Score Test", auto_score_test_path(id: @test_submission.id), class: "btn btn-xs btn-primary btn-responsive", :method => :post %> 
    <% end %>
        <%= link_to "Forward", forward_submission_path(id: @test_submission.id), class: "btn btn-xs btn-primary" %>
        <%= link_to "Remove", @test_submission, method: :delete,
                           data: { confirm: "Delete this test submission?" }, 
                           :class => "btn btn-xs btn-danger btn-responsive" %>
      </section>
  </div>
</div>

