<tr id="candidate-<%= candidate.id %>">
  <td><%= link_to candidate.name, candidate %></td>
  <td><a href="mailto:<%= candidate.email %>"><%= candidate.email %></a></td>
  <td><%= phone_format(candidate.phone) %></td>
  <td><%= candidate.created_at.strftime("%m/%d/%Y") if candidate.created_at? %></td>
  <td>
    <% if candidate.test_submissions.any? %>
    <%= link_to "Results", candidate_submissions_path(candidate_id: candidate.id) %>
    <% else %>
    None yet.
    <% end %>
    </td>
  <td>
      <% if @single_candidate_select %>
      <%= radio_button_tag "candidate_ids[]", candidate.id %>
      <% else %>

        <% if current_user?(candidate.user) %>
                  <%= link_to send_candidate_test_path(id: candidate.id), class: "btn btn-xs btn-primary" do %>
              <i class="glyphicon glyphicon-send" title="Send Test"></i>
            <% end %>
  
            <div class="button-spacer"> </div>
            <%= link_to candidate, class: "btn btn-xs btn-primary", method: :delete,
                                         data: { confirm: "Delete this candidate?" } do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
            <div class="button-spacer"> </div>
            <%= link_to edit_candidate_path(candidate), class: "btn btn-xs btn-primary" do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %>
        <% end %>
      <% end %>
  </td>
</tr>
