<tr id="candidate-<%= candidate.id %>">
  <td><%= link_to candidate.name, candidate %></td>
  <td><%= candidate.email %></td>
  <td><%= candidate.phone %></td>
  <td><%= candidate.created_at.strftime("%m/%d/%Y") if candidate.created_at? %></td>
  <td><%= link_to "Results", candidate_submissions_path(candidate_id: candidate.id) %></td>
  <td>
      <% if current_user?(candidate.user) %>
            <%= link_to "X", candidate, method: :delete,
                                       data: { confirm: "Delete this candidate?" }, :class => "btn btn-sm btn-primary" %>
                                       <div class="button-spacer"></div>
            <%= link_to "Test", send_candidate_test_path(id: candidate.id), :class => "btn btn-sm btn-primary" %>
      <% end %>
  </td>
</tr>
