<tr id="candidate-<%= candidate.id %>">
  <td><%= candidate.name %></td>
  <td><%= candidate.email %></td>
  <td><%= candidate.phone %></td>
  <td><%= candidate.test_submissions.count %></td>
  <td><%= candidate.average_score %></td>
  <td>
      <% if current_user?(candidate.user) %>
            <%= link_to "X", candidate, method: :delete,
                                       data: { confirm: "Delete this candidate?" }, :class => "btn btn-sm btn-primary" %>
                                       <div class="button-spacer"></div>
            <%= link_to "Test", send_candidate_test_path(id: candidate.id), :class => "btn btn-sm btn-primary" %>
      <% end %>
  </td>
</tr>
