<% provide(:title, 'Edit Candidate') %>
<div class="page-header">
  <h3>Edit Candidate Details</h3>
  <section style="float:right">
        <%= link_to "Send Test", send_candidate_test_path(id: @candidate.id), :class => "btn btn-sm btn-primary" %>
        <%= link_to "Dashboard", root_path, class: "btn btn-sm btn-primary" %>
  </section>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@candidate) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :job_title, "Position Applying For" %>
      <%= f.text_field :job_title, class: 'form-control' %>

      <%= f.submit "Update Candidate", class: "btn btn-primary" %>
      
      <div class="form-group">
        <div style="float:right">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <%= f.submit "Update Candidate", class: "btn btn-primary" %>
          <span></span>
          <%= link_to "Cancel", root_path, class: "btn btn-default" %>
        </div>
      </div>
      </div>
          
    <% end %>
  </div>
</div>
<br>
