<% provide(:title, 'Edit Candidate') %>
<h1>Edit Candidate</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@candidate) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :job_title %>
      <%= f.text_field :job_title, class: 'form-control' %>

      <%= f.submit "Update Candidate", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
        <%= link_to "Dashboard", root_path, class: "btn btn-primary" %>
  </div>
</div>