<% provide(:title, "Create Candidate") %>
<h1>Create Candidate</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@candidate) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
      <div class="button-spacer"></div>
      <%= f.submit "Create And Send Test", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
