<% provide(:title, "Create Candidate") %>
<div class="page-header">
  <h3>Create Candidate</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@candidate) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :job_title, "Job Title Applying For" %>
      <%= f.text_field :job_title, class: 'form-control' %>

        <%= f.submit "Create", class: "btn btn-primary" %>
        <div class="button-spacer"></div>
        <%= f.submit "Create And Send Test", class: "btn btn-primary" %>
        <div class="button-spacer"></div>
        <%= f.submit "Cancel", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
