<% provide(:title, @candidate.name) %>
<div class="page-header">
  <h3>Candidate Details</h3>
</div>
<div class="row">
  <div class="col-md-12">
    <section>
      <strong>Candidate:</strong> <%= @candidate.name %>
    </section>
    <section>
      <strong>Email:</strong> <%= @candidate.email %>
    </section>
    <section>
      <strong>Phone:</strong> <%= @candidate.phone %>
    </section>
    <section>
      <strong>Position Applied For:</strong> <%= @candidate.job_title %>
    </section>
    <br>
    <section>
      <% if @candidate.test_submissions.any? %>
        <strong>This Candidate's Test Submissions (<%= @candidate.test_submissions.count %>)</strong>
          <table class="table table-bordered">
            <tr><th>Candidate Name</th><th>Test Name</th><th><%= sortable "name", "Submission Name" %></th><th><%= sortable "score" %></th><th>Actions</th></tr>

            <%= render @candidate_test_submissions %>
          </table>
          <%= will_paginate @candidate_test_submissions %>
      <% end %>
    </section>
    <section>
        <%= link_to "Dashboard", root_path, class: "btn btn-sm btn-primary" %> 
        <%= link_to "Send Test", send_candidate_test_path(id: @candidate.id), :class => "btn btn-sm btn-primary" %>
        <%= link_to "Results", candidate_submissions_path(candidate_id: @candidate.id), :class => "btn btn-sm btn-primary" %>
        <%= link_to "Edit Candidate", edit_candidate_path(@candidate), class: "btn btn-sm btn-primary" %> 
        <%= link_to "Remove Candidate", @candidate, method: :delete,
                           data: { confirm: "Delete this candidate?" }, :class => "btn btn-sm btn-warning" %>
    </section>
  </div>
</div>

