<% provide(:title, @candidate.name) %>
<div class="page-header">
    <section style="float:right">
        <%= link_to "Send Test", send_candidate_test_path(id: @candidate.id), :class => "btn btn-sm btn-primary btn-responsive" %>
        <%= link_to "Results", candidate_submissions_path(candidate_id: @candidate.id), :class => "btn btn-sm btn-primary btn-responsive" %>
        <%= link_to "Edit Candidate", edit_candidate_path(@candidate), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Remove Candidate", @candidate, method: :delete,
                           data: { confirm: "Delete this candidate?" }, :class => "btn btn-sm btn-danger btn-responsive" %>
    </section>
  <h3>Candidate Details</h3>
</div>
<div class="row">
  <div class="col-md-12">
        <table style="width:400px">
      <tr><th>Candidate:</th><td><%= @candidate.name %></td></tr>
      <tr><th>Email:</th><td><%= @candidate.email %></td></tr>
      <tr><th>Phone:</th><td><%= @candidate.phone %></td></tr>
      <tr><th>Position Applied For:</th><td><%= @candidate.job_title %></td></tr>
      <tr><th>Created At:</th><td><%= @candidate.created_at.strftime("%m/%d/%Y") if @candidate.created_at? %></td></tr>
      </table>
    <br>
    <section>
      <% if @candidate.test_submissions.any? %>
        <strong>This Candidate's Test Submissions (<%= @candidate.test_submissions.count %>)</strong>
          <table class="table table-bordered">
            <tr><th>Candidate Name</th><th>Test Name</th><th><%= sortable "name", "Submission Name" %></th><th><%= sortable "score" %></th><th>Actions</th></tr>

            <%= render @candidate_test_submissions %>
          </table>
          <%= will_paginate @candidate_test_submissions %>
      <% end %>
    </section>
  </div>
</div>

