<% provide(:title, @company.name) %>
<div class="page-header">
    <section style="float:right">
        <%= link_to "Add Job Listing", new_job_path(company_id: @company.id), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Edit Company", edit_company_path(@company), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Remove Company", @company, method: :delete,
                           data: { confirm: "Delete this company?" }, :class => "btn btn-sm btn-danger btn-responsive" %>

    </section>
  <h3>Company Details</h3>
</div>
<div class="row">
  <div class="col-md-12">
        <table style="width:500px">
      <tr><th>Name:</th><td><%= @company.name %></td></tr>
      <tr><th>Description:</th><td><%= @company.description %></td></tr>
      <tr><th>Manager:</th><td><%= @company.manager %></td></tr>
      <tr><th>Email:</th><td><%= @company.email %></td></tr>
      <tr><th>Address:</th><td><%= @company.address %></td></tr>
      <tr><th>Phone:</th><td><%= phone_format(@company.phone) %></td></tr>
      <tr><th>Website:</th><td><%= @company.website %></td></tr>
      <tr><th>Created On:</th><td><%= @company.created_at.strftime("%m/%d/%Y") if @company.created_at? %></td></tr>
      </table>
    <br>
    <section>
      <% if @company.jobs.any? %>
        <strong>This Company's Jobs (<%= @company.jobs.count %>)</strong>
          <table class="table table-bordered">
        <tr><th><%= sortable "name", "Title" %></th><th><%= sortable "description" %></th>
        <th><%= sortable "company_id", "Company" %></th>
        <th>Created On</th><th>Actions</th></tr>

            <%= render @company_jobs %>
          </table>
          <%= will_paginate @company_jobs %>
      <% end %>
    </section>
  </div>
</div>

