<div class="laptop-section">
<tr id="test-<%= test.id %>">
  <td>
    <% if @single_test_select %>
        <%= radio_button_tag "test_ids[]", test.id %>
    <% else %>
      <table class="btn-table">
      <tr>
        <% if current_user?(test.user) %>
          <td>
          <%= link_to test, class: "btn btn-xs btn-primary", method: :delete,
                                       data: { confirm: "Delete this test?" } do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
          </td>
          <td>
          <%= link_to edit_test_path(test), class: "btn btn-xs btn-primary" do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to send_test_candidate_path(id: test.id), class: "btn btn-xs btn-primary" do %>
            <i class="glyphicon glyphicon-send" title="Send Test"></i>
          <% end %>
        </td>
        </tr>
        </table>
      <% end %>
  </td>
  <td><%= link_to test.name, test %></td>
  <td><%= truncate(test.description, 255) %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.created_at.strftime("%m/%d/%Y") %></td>
</tr>
</div>

<div class="mobile-section">
  <a class="list-group-item" href="/tests/<%= test.id %>" >
        <small class="list-group-item-text">
            Created on
            <span><%= test.created_at.strftime("%m/%d/%Y") if test.created_at? %></span>
        </small>
         <p class="list-group-item-text">
           <strong><%= test.name %> (<%= pluralize(test.questions.count, "question") %>)</strong>
           </p>
           <% if @single_test_select %>
              <%= radio_button_tag "test_ids[]", test.id %>
          <% end %>
        <h4 class="list-group-item-heading">
          <%= test.description %>
        </h4>
    </a>
</div>