<tr id="test-<%= test.id %>">
  <td>
      <% if @single_test_select %>
          <%= radio_button_tag "test_ids[]", test.id %>
      <% else %>
        <% if current_user?(test.user) %>
          <%= link_to test, class: "btn btn-xs btn-primary", method: :delete,
                                       data: { confirm: "Delete this test?" } do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
          
          <div class="button-spacer"> </div>
          <%= link_to edit_test_path(test), class: "btn btn-xs btn-primary" do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>

        <% end %>
          <div class="button-spacer"> </div>
          <%= link_to send_test_candidate_path(id: test.id), class: "btn btn-xs btn-primary" do %>
            <i class="glyphicon glyphicon-send" title="Send Test"></i>
          <% end %>

      <% end %>
  </td>
  <td><%= link_to test.name, test %></td>
  <td><%= test.description %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.created_at.strftime("%m/%d/%Y") %></td>
</tr>
