<tr id="test-<%= test.id %>">
  <td><%= link_to test.name, test %></td>
  <td><%= test.description %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.created_at.strftime("%m/%d/%Y") %></td>
  <td>
      <% if @single_test_select %>
          <%= radio_button_tag "test_ids[]", test.id %>
      <% else %>
        <% if false && current_user?(test.user) %>
              <%= link_to "X", test, class: "btn btn-xs btn-primary", method: :delete,
                                         data: { confirm: "Delete this test?" } %>
                                         <div class="button-spacer"></div>
        <% end %>
        <%= link_to "Details", test, class: "btn btn-xs btn-primary" %>
      <% end %>
  </td>
</tr>
