<% provide(:title, 'Edit Test') %>
<div class="page-header">
  <section style="float:right">
    <%= link_to "Modify Questions", select_questions_path(id: @test.id), class: "btn btn-sm btn-primary" %>
  </section>
  <h3>Edit Test</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@test) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <div class="checkbox">
        <%= f.label :is_public, class: "checkbox inline" do %>
          <%= f.check_box :is_public %>
          <span>Make Test Public</span>
        <% end %>
      </div>

      <div class="form-group">
            <div style="float:right">
            <%= f.submit "Save And Modify Questions", class: "btn btn-primary" %>
              <span></span>
            <%= f.submit "Save", class: "btn btn-primary" %>
              <span></span>
              <%= link_to "Cancel", tests_path, class: "btn btn-default" %>
          </div>
        </div>
        
    <% end %>
  </div>
</div>
