<% provide(:title, 'Edit Test') %>
<div class="page-header">
  <h3>Edit Test</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@test) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <div class="checkbox">
        <%= f.label :is_public, class: "checkbox inline" do %>
          <%= f.check_box :is_public %>
          <span>Make Test Public</span>
        <% end %>
      </div>

      <%= f.submit "Update Test", class: "btn btn-primary" %>
        <div class="button-spacer"></div>
      <%= f.submit "Cancel", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-12">
      <%= link_to "Add/Remove Questions", select_questions_path(id: @test.id), class: "btn btn-sm btn-primary" %>
      <%= link_to "Search Tests", tests_path, class: "btn btn-sm btn-primary" %>
      <%= link_to "Dashboard", root_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
