<% provide(:title, "Create Test") %>
<div class="page-header">
  <h3>Create Test</h3>      
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@test) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <div class="checkbox">
        <%= f.label :is_public, class: "checkbox inline" do %>
          <%= f.check_box :is_public %>
          <span>Make Test Public</span>
        <% end %>
      </div>
      
      <div class="form-group">
            <div style="float:right">
            <%= f.submit "Select Random Questions", class: "btn btn-primary" %>
              <span></span>
            <%= f.submit "Select Specific Questions", class: "btn btn-primary" %>
              <span></span>
              <%= f.submit "Cancel", class: "btn btn-default" %>
          </div>
        </div>
        
    <% end %>
  </div>
</div>

