<% provide(:title, "Create Test") %>
<div class="page-header">
  <h3>Create Test</h3>      
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@test) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <div class="checkbox">
        <%= f.label :is_public, class: "checkbox inline" do %>
          <%= f.check_box :is_public %>
          <span>Make Test Public</span>
        <% end %>
      </div>
      
      <%= f.submit "Submit And Select Questions", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

