<% provide(:title, @test.name) %>
<div class="page-header">
      <section style="float:right">
        <%= link_to "Search", tests_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Take Test", new_test_submission_path(id: @test.id), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Edit", edit_test_path(@test), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Create", new_test_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Search Questions", questions_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <% if @test.is_public? %>
        <%= link_to "Remove", @test, method: :delete,
                           data: { confirm: "Delete this test?" }, :class => "btn btn-sm btn-danger btn-responsive" %>
        <% end %>
    </section>
  <h3>Test Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table style="width:500px">
      <tr><th>Name:</th><td><%= @test.name %></td></tr>
      <tr><th>Description:</th><td><%= @test.description %></td></tr>
      <tr><th>Privacy:</th><td>
        <% if @test.is_public? %>
        <span class="label label-info">Public</span>
        <% else %>
        <span class="label label-info">Private</span>
        <% end %>
        </td></tr>
      <tr><th>Created On:</th><td><%= @test.created_at.strftime("%m/%d/%Y") %></td></tr>
    </table>
    <br>
    <section>
      <% if @test.questions.any? %>
        <strong>This Test's Questions</strong> (<%= @test.questions.count %>)
        <table class="table table-bordered">
          <tr><th>Actions</th><th><%= sortable "content", "Question" %></th><th><%= sortable "answer" %></th>
          <th><%= sortable "difficulty" %></th><th><%= sortable "question_type" %></th>
          <th><%= sortable "category" %></th></tr>
          <%= render @test_questions %>
        </table>
        <%= will_paginate @test_questions %>
      <% end %>
    </section>
  </div>
</div>

