<% provide(:title, @test.name) %>
<div class="page-header">
      <section class="laptop-section" style="float:right">
        <%= link_to "Search", tests_path, class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Send Test", send_test_candidate_path(id: @test.id), class: "btn btn-xs btn-primary btn-responsive" %>

        <% if current_user != nil && @test.user_id == current_user.id %>        
          <%= link_to "Edit", edit_test_path(@test), class: "btn btn-xs btn-primary btn-responsive" %> 
        <% end %>
        <%= link_to "Create", new_test_path, class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Search Questions", questions_path, class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "See Candidate's View", new_test_submission_path(id: @test.id), class: "btn btn-xs btn-primary btn-responsive" %> 
        <%= link_to "Clone", clone_test_path(id: @test), class: "btn btn-xs btn-primary btn-responsive" %> 
        <% if !@test.is_public? %>
        <%= link_to "Remove", @test, method: :delete,
                           data: { confirm: "Delete this test?" }, :class => "btn btn-xs btn-danger btn-responsive" %>
        <% end %>
    </section>
  <h3>Test Details</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table style="width:400px">
      <tr><th>Name:</th><td><%= @test.name %></td></tr>
      <tr><th>Description:</th><td><%= @test.description %></td></tr>
      <tr><th>Privacy:</th><td>
        <% if @test.is_public? %>
        <span class="label label-info">Public</span>
        <% else %>
        <span class="label label-info">Private</span>
        <% end %>
        </td></tr>
      <tr><th>Created On:</th><td><%= @test.created_at.strftime("%m/%d/%Y") %></td></tr>
    </table>
    <br>
    <section>
      <% if @test.questions.any? %>
        <h4>This Test's Questions (<%= @test.questions.count %>):</h4>
        
        <div class="laptop-section">
          <table class="table table-bordered show-header">
            <tr><th>Actions</th><th><%= sortable "content", "Question" %></th><th><%= sortable "answer" %></th>
            <th><%= sortable "difficulty" %></th><th><%= sortable "question_type" %></th>
            <th><%= sortable "category" %></th></tr>
            <%= render @test_questions %>
          </table>
        </div>
        <div class="mobile-section">
          <div class="list-group">
            <%= render partial: "questions/mobile_question", collection: @test_questions, as: :question %>
          </div>
        </div>

        <%= will_paginate @test_questions %>
      <% else %>
      <h3>No questions added to this test yet.</h3>
      <% end %>
    </section>
    <section>
      <% if @test_results != nil && @test_results.any? %>
        <h4>This Test's Submissions / Results (<%= @test_results.count %>):</h4>
        
        <div class="laptop-section">
          <table class="table table-bordered show-header">
            <tr><th>Actions</th><th>Candidate Name</th><th>Test Name</th><th><%= sortable "name", "Submission Name" %></th>
            <th><%= sortable "score" %></th><th><%= sortable "time" %></th></tr>
            <%= render @test_results %>
          </table>
        </div>
        <div class="mobile-section">
          <div class="list-group">
            <%= render partial: "test_submissions/mobile_test_submission", collection: @test_results, as: :test_submission %>
          </div>
        </div>
        <%= will_paginate @test_results %>
      <% else %>
      <h3>No results for this test yet.</h3>
      <% end %>
    </section>
    <section class="mobile-section" style="float:right">
        <%= link_to "Search", tests_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Send Test", send_test_candidate_path(id: @test.id), class: "btn btn-sm btn-primary btn-responsive" %>
        <% if current_user != nil && @test.user_id == current_user.id %>        
        <%= link_to "Edit", edit_test_path(@test), class: "btn btn-sm btn-primary btn-responsive" %> 
        <% end %>
        <%= link_to "Create", new_test_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Search Questions", questions_path, class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "See Candidate's View", new_test_submission_path(id: @test.id), class: "btn btn-sm btn-primary btn-responsive" %> 
        <%= link_to "Clone", clone_test_path(id: @test), class: "btn btn-sm btn-primary btn-responsive" %> 
        <% if !@test.is_public? %>
        <%= link_to "Remove", @test, method: :delete,
                           data: { confirm: "Delete this test?" }, :class => "btn btn-sm btn-danger btn-responsive" %>
        <% end %>
    </section>

  </div>
</div>

