<% provide(:title, @test.name) %>
<div class="row">
  <div class="col-md-12">
    <section>
      <h1>
        Test: <%= @test.name %>
      </h1>
    </section>
    <section>
      <h3>
        Description: <%= @test.description %>
      </h3>
    </section>
    <section>
      <% if @test.questions.any? %>
        <h3>This Test's Questions (<%= @test.questions.count %>)</h3>
        <table class="table table-bordered">
          <tr><th><%= sortable "content", "Question" %></th><th><%= sortable "answer" %></th><th><%= sortable "difficulty" %></th><th><%= sortable "category" %></th><th>Actions</th></tr>
          <%= render @test_questions %>
        </table>
        <%= will_paginate @test_questions %>
      <% end %>
    </section>
    <section>
        <%= link_to "Take Test", new_test_submission_path(id: @test.id), class: "btn btn-success" %> 
        <%= link_to "Edit Test", edit_test_path(@test), class: "btn btn-success" %> 
        <%= link_to "Dashboard", root_path, class: "btn btn-success" %> 
    </section>
  </div>
</div>

