<div class="row">
  &nbsp;
</div>
<div class="row">
  &nbsp;
</div>
<div class="row color-row">
<footer class="footer">
  <small>
    Screen your interview candidates with ease. 
  </small>
  <table style="float:right">
    <tr><td>
  <nav>
    <ul style="float:right">
      <small>
      <%= link_to "Privacy Policy", privacy_path %>
      <%= link_to "Terms of Service", terms_path %>
      </small>
    </ul>
  </nav>
  </td>
  </tr>
  <tr><td>
  <nav>
    <ul style="float:right">
      <li><%= link_to "Plans", plans_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
  </td>
  </tr>
  </table>
</footer>
</div>